body{
  font-family: "Barlow", sans-serif;
}
.header{
  background-image: url('/assets/iteration-1/home-banner.png');
  background-size: cover;  
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 16px;
}
.header-text{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: #FDC913;
}
.header img.logo{
  padding-bottom: 3rem;
}
h1{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color:white;
  font-size: 5rem;
  text-align: center;
  line-height: 5rem;
}
h2{
  font-weight: 600;
  font-size: 2.5rem;
}
h3{
  text-align: right;
  font-weight: 600;
  color:#292929;
}
h4{
  font-weight: 500;
  font-size: 1.5rem;
}
h5{
  font-weight: 400;
  font-size: 1rem;
}
.header .header-btn{
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3rem;
  border: 2px solid #FDC913;  
  background-color: #FDC913;
  padding: 1rem 5rem;
}
.nav-hero{
  display:flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
  
}
.nav-hero a{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-section{
  background-color: #FAF7F2;
  
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  padding: 3rem 0 3rem;
}
.main-section .main-header-section{
  display: flex;
  justify-content: center;
}
.main-section .main-content{
  background-image: url('/assets/iteration-2/cta/kart-1.png');
  background-size: cover;
  border-radius: 10px;
  width: 30rem;
  height: 26rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-section .main-content .content-header{
  font-family: "Quattrocento", serif;
  font-weight: 700;
  color: white;
  font-size: 3rem;
  line-height: 3.5rem;
}

.main-section .main-content .content-text{
  font-weight: 600;
  color: white;
  font-size: 1rem;
}

.main-btn{
  font-weight: 600;
  color: #CE2829;
  font-size: 1rem;
  border-radius: 3rem;
  width: 8rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  background-color: white;
}

.main-section .main-content-split{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-section .main-content-split-top{
  background-image: url('/assets/iteration-2/cta/kart-2.png');
  background-size: cover;
  border-radius: 10px;
  width: 30rem;
  height: 12.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-section .main-content-split-bottom{
  background-image: url('/assets/iteration-2/cta/kart-3.png');
  background-size: cover;
  border-radius: 10px;
  width: 30rem;
  height: 12.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.split-top-header{
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  line-height: 2rem;
}

.split-bot-header{
  font-weight: 600;
  font-size: 1.5rem;
  color: #292929;
  line-height: 2rem;
}
.split-bot-header span{
  color:#CE2829;
}

.main-section .main-menu{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  gap: 1rem;
}

.menu-nav{
  display:flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
}

.menu-nav a{
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 3rem;
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 15px;
}
.menu-nav a:hover{
  background-color: #292929;
  color: white;
}
.cards{
  display:flex;
  justify-content: center;
  gap: 1rem;
}
.cards .card{
  border: 1rem solid white;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 2rem;
  gap: 1rem;
}
.card-details{
  display: flex;
  gap:8rem;
  color:#1B1B1BB2;
  
}
.card-details-second{
  display: flex;
  gap: 4rem;
}
.card-details .card-details-second .price{
  color:#292929;
  font-weight: 700;
}
.footer{
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
}
.footer .footer-top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
}

.footer-adresses{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-header{
  padding-bottom: 1rem;
}

.footer-adresses-container{
  display: flex;
  gap: 1rem;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-images{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-image-column{
  display: flex;
  gap: 1rem;
}
.line{
  border: 0.1px solid white;
  width: 100%;
  margin: 1rem 0 3rem;
}
.footer-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3rem;
}

