.header{
  background-image: url('/assets/iteration-1/home-banner.png');
  background-size: cover;  
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 16px;
}
.header-text{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: #FDC913;
}
.header img.logo{
  padding-bottom: 3rem;
}
h1{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color:white;
  font-size: 5rem;
  text-align: center;
  line-height: 5rem;
}
.header .header-btn{
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 3rem;
  border: 2px solid #FDC913;  
  background-color: #FDC913;
  padding: 1rem 5rem;
}
.nav-hero{
  display:flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
  
}
.nav-hero a{
  display: flex;
  align-items: center;
  gap: 1rem;
}

